@import url(bootstrap);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

h1,
.card {
    box-shadow: #343a40 0px 0px 5px 1px;
}

h1 {
    text-shadow: 2px 2px #adb5bd
}